body {
    background-color: #796463;
    margin: 0;
    padding: 0;
}

form {
    margin: auto;
    margin-top: 130px;
    margin-bottom: 200px;
    width: 45%;
    padding: 20px;
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.582);
}

.head {
    font-size: 20px;
    font-weight: bold;
}

.list-field {
    margin: 10px 10px 10px 10px;
}

.list-field label {
    color: #356fbb;
    font-weight: bold;
}

.but-on {
    display: flex;
    justify-content: center;
}

button {
    background-color: #796463;
    border: none;
}

button a {
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: #f59931;
    border: 3px solid white;
    border-radius: 10px;
    padding: 8px;
}