<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addBus</servlet-name>
        <servlet-class>addBus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffLoginServlet</servlet-name>
        <servlet-class>staffLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffDao</servlet-name>
        <servlet-class>dao.staffDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmServlet</servlet-name>
        <servlet-class>confirmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLogin</servlet-name>
        <servlet-class>adminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editServlet</servlet-name>
        <servlet-class>editServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerStaffServlet</servlet-name>
        <servlet-class>registerStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>hello</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getting</servlet-name>
        <servlet-class>getting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getStaff</servlet-name>
        <servlet-class>getStaff</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addBus</servlet-name>
        <url-pattern>/addBus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffLoginServlet</servlet-name>
        <url-pattern>/staff.login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffDao</servlet-name>
        <url-pattern>/staffDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/search.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmServlet</servlet-name>
        <url-pattern>/confirm.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLogin</servlet-name>
        <url-pattern>/admin.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editServlet</servlet-name>
        <url-pattern>/edit.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerStaffServlet</servlet-name>
        <url-pattern>/register.staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getting</servlet-name>
        <url-pattern>/get.servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getStaff</servlet-name>
        <url-pattern>/get.staff</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>welcome.html</welcome-file>
    </welcome-file-list>
</web-app>
